

.hr{
  border: 5px solid brown;
  border-radius: 5px;
  width: 30%;
  margin: auto;
}
.main{
  text-align: center;
}
.cardstyle{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}